/* #title{
    color: #989fce;
  }
  
 */

/* ul{
  display: inline-block;
} */

li{
  display: inline;
  padding: 2%;
}


.dropdown:hover .dropdown-menu {
  display: block;
}

.menuTypes{
  display: block;
}