/* #title{
    color: #989fce;
  }
  
 */

ul{
  display: inline-block;
}

li{
  display: inline-block;
  /* padding: 2%; */
  padding: .5em;
}


/* .dropdown:hover .dropdown-menu {
  display: block;
} */

.menuTypes{
  display: inline-block;
}

/* button{
  padding: 2%;
} */